<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'application.css' %}">

<head>
    <title> ERROR 404 </title>
</head>

<body>
    <h1 style="text-align: center"> PAGE NOT FOUND - 404 ERROR </h1>
    <div class="main_content" style="flex-direction: column;">
        <h2 style="color: white; text-align: center"> Sorry, you selected an invalid link! There is a 404 error. </h2> <br> </br>
        <a href="/" class="search_button"> Go Back Home </a>
        <div class="small_filler"> <p> . </p> </div>
    </div>

</body>