<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

<head>
    <title> Page not found! </title>
</head>

<body>
    <h1 style="text-align: center"> PAGE NOT FOUND </h1>
    <div class="main_div">
        <h3> Sorry! The location you searched does not appear to be callable. </h3>
        <div class="small_filler"> <p> . </p> </div>
        <a href="/" class="search_button"> Go Back Home </a>
        <div class="small_filler"> <p> . </p> </div>
    </div>

    <div class="big_filler"> 
        <p style="font-size: 12px; font-color: #e9fbff;"> . </p>
    </div>

    <div class="main_div" style="padding-top: 20px">
        <h1 style="text-align: center"> OR CHECK OUT COMMON CITIES </h1>
        <a href="/search/new_york/metric" class="search_button"> New York, USA </a>
        <a href="/search/london/metric" class="search_button"> London, UK </a>
        <a href="/search/moscow/metric" class="search_button"> Moscow, Russia </a>
        <a href="/search/manila/metric" class="search_button"> Manila, Philippines </a>
    </div>
</body>