<!DOCTYPE html>
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'application.css' %}">
    <title> Weather in {{ name }} </title>
</head>

<body>
    <div class="title_div">
        <h1> Weather in {{ name }}, on {{ date }}. <h1>
    </div>
    <div class="title_div" style="justify-content: space-evenly">
        <h2 style="text-align: center"> This page uses {{ units }} units. <a href="/search/{{ snake_cased_name }}/{{ reverse_units }}"> Switch to {{ reverse_units }}?  </a> </h3> 
        <div style="border-left: 2px solid black; height: 100px; margin: 4px"></div>
        <h2 style="text-align: center"> Last Updated: {{ time }} </h2>
    </div>
    <div class="t">
        <div class="attribute" style="background-color: {{ temp_color }}; color: black;">
            <img src={% static "images/thermometer.png" %} width="120" height="100">
            <h1> TEMPERATURE </h1>
            <h2> {{ temperature }} </h2>
        </div>

        <div class="big_filler"><p style="font-size: 12px; font-color: #e9fbff;"> . </p></div>

        <div class="attribute">
            <img src={% static weather_image %} width="200" height="100">
            <h1> DESCRIPTION OF WEATHER </h1>
            <h2> {{ weather }} </h2>
        </div>
        
        <div class="big_filler"><p style="font-size: 12px; font-color: #e9fbff;"> . </p></div>

        <div class="attribute">
            <img src={% static "images/humidity.png" %} width="100" height="100">
            <h1> HUMIDITY </h1>
            <h2> {{ humidity }}% </h2>
            <h2> It's {{ humidity_descriptor }} outside! </h2>
        </div>

        <div class="big_filler"><p style="font-size: 12px; font-color: #e9fbff;"> . </p></div>

        <div class="attribute">
            <img src={% static "images/wind.png" %} width="200" height="100">
            <h1> WIND SPEED </h1>
            <h2> {{ wind_speed }} </h2>
        </div>

        <div class="big_filler"><p style="font-size: 12px; font-color: #e9fbff;"> . </p></div>

    </div>
        
    <div style="margin: 12px">  . </div>
    <a href="/input/random" class="search_button"> Try another Random Place </a> <br> </br>
    <div style="margin: 12px">  . </div>
    <a href="/" class="search_button"> HOME </a>

</body>