v<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

<head>
    <title> WEATHER API TESTER </title>

</head>

<body>
    <h1 style="text-align: center"> Weather in {{ name }}, on {{ date }} </h1>
    <div class="main_div">

        <div class="attribute_div">
            <h1> {{ temperature }} °C </h1>
        </div>

        <div class="attribute_div">
            <h1> {{ weather }} </h1>
        </div>

        <div class="attribute_div">
            <h1> {{ humidity }} </h1>
        </div>

        <div class="attribute_div">
            <h1> {{ wind_speed }} </h1>
        </div>

    </div>
</body>