<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

<html> 
    <head>
        <link rel="stylesheet" href="{% static 'application.css' %}">
    </head>

    <body>
        <header>
            <div class="title_div">
                <h1> WEATHER API TESTER <h1>
            </div>
        </header>

        <div class="main_content">
            <div class="big">
                <h2> SEARCH FOR A CITY! </h2> 
                <hr style="border: 1px solid black; width: 80%;">
                <form method="POST" action="input/">
                {% csrf_token %}
                <label for="user_input" class="input_text"> City Name: </label> 
                <input type="text" id="user_input" name="user_input" required class="input_box"> <br>
                <label for="units" class="input_text"> Search with Imperial Units </label>
                <input type="checkbox" id="units" name="unit_type" class="custom_checkbox"> 
                <button type="submit" class = "search_button"> SEARCH </button> 
                </form>
            </div>
            <div class="small">
                <h2> RANDOM CITY </h2>
                <hr style="border: 1px solid black; width: 80%;">
                <a href="/input/random" class="search_button"> GO TO RANDOM CITY </a>
            </div>
        </div>

        <div class="main_content"> 
            <div class="bigger">
                <h2 class="fill"> POPULAR CITIES </h2> 
                <a href="/search/new_york/metric" class="search_button"> New York, USA </a>
                <a href="/search/london/metric" class="search_button"> London, UK </a>
                <a href="/search/moscow/metric" class="search_button"> Moscow, Russia </a>
                <a href="/search/manila/metric" class="search_button"> Manila, Philippines </a>
                <a href="/search/dubai/metric" class="search_button"> Dubai, UAE </a>
                <a href="/search/toronto/metric" class="search_button"> Toronto, Canada </a>
                <a href="/search/beijing/metric" class="search_button"> Beijing, China </a>
            </div>
        </div>
    </body>
</html>