h1 {
    color: black; 
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New';
}

h2 {
    color: rgb(2, 45, 110);
    font-family: 'Courier New';
}

.title_div {
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(121, 192, 233);
    border: black solid 10px;
    border-radius: 25px; 
}

.main_content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgb(32, 83, 160);
    border: black solid 10px;
    border-radius: 25px; 
    padding: 20px;
}

.attributes {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    background-color: rgb(10, 40, 95);
    border: black solid 10px;
    border-radius: 25px; 
    padding: 20px;
}

.big {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: rgb(121, 192, 233);
    border: black solid 4px;
    border-radius: 25px; 
    flex: 1;
}

.bigger {
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: rgb(121, 192, 233);
    border: black solid 4px;
    border-radius: 25px; 
    flex: 1.5;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
}

.small {
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: rgb(121, 192, 233);
    border: black solid 4px;
    border-radius: 25px; 
    flex: 0.4;
    padding: 4px;
}

.input_text {
    color: rgb(2, 45, 110);
    font-weight: bold;
    font-family: 'Courier New';
    width: 20px;
    height: 20px;
}

.search_button {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 5px;
    margin: 5px;
    font-family: Verdana;
    background-color:rgb(2, 45, 110);
    color: rgb(202, 232, 247);
    border: black 4px solid;
    text-decoration: none;
}
.search_button:hover {
    font-family: Verdana;
    color:rgb(2, 45, 110);
    background-color: rgb(202, 232, 247);
    border: black 4px solid;
    text-decoration: none;
}

.fill {
    width: 100%;
}